body {
    margin: 0;
    height: 3000px;
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(200deg, rgba(36,20,42,1) 0%, rgba(32,19,37,1) 50%, rgba(19,12,22,1) 100%);
}

.section::-webkit-scrollbar {
    height: 8px;
    width: 10px;
    background: linear-gradient(262deg, rgba(117,0,121,1) 0%, rgba(19,12,22,1) 100%);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(154,154,154,1) 100%);
}

#upper-line {
    background-image: url("../images/purpleforest.jpg");
    background-position-y: 63.5rem;
    background-size: 120rem;
    position: fixed;
    font-family: 'Brush Script MT', cursive;
    text-shadow: 3px 3px rgb(100, 30, 130);
    white-space: nowrap;
    padding: 10px;
    font-size: 3rem;
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
}


#main-body {
    height: 100%;
    z-index: 0;
    color: white;
    font-family: Verdana, sans-serif;
}

#site-description {
    background-image: url("../images/purpleforest.jpg");
    background-position-y: 59rem;
    background-size: 120rem;
    padding: 1rem;
    text-align: center;
}

#site-description-text {
    padding: 2rem;
    font-size: 20px;
    mix-blend-mode: hard-light;
    color: white;
    font-family: Georgia, serif;
}

#section-title {
    background: linear-gradient(0deg, rgba(117,0,121,0.3) 0%, rgba(19,12,22,1) 100%);
    padding: 3rem;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.section {
    background-color: rgba(117, 0, 121, 0.3);
    overflow-y: hidden;
    height: 12%;
    white-space: nowrap;
}

.panel {
    background: linear-gradient(180deg, rgba(29,12,124,1) 0%, rgba(36,116,179,1) 100%);    height: 90%;
    display: inline-block;
    aspect-ratio: 1;
    vertical-align: top;
    margin: 20px;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(131,225,251,1);
    font-size: 20px;
}

#course1 {
    
}

#course1image {
    background-image: url("../images/courses/britain.jpg");
    height: 70%;
    background-size: cover;
}

#course2 {
    
}

#course2image {
    background-image: url("../images/courses/germany.jpg");
    height: 70%;
    background-size: cover;
}

#course3 {
    
}

#course3image {
    background-image: url("../images/courses/italy.jpg");
    height: 70%;
    background-size: cover;
}

#course4 {
    
}

#course4image {
    background-image: url("../images/courses/poland.png");
    height: 70%;
    background-size: cover;
}

#teacher1image {
    background-image: url("../images/teachers/depp.jpg");
    height: 70%;
    background-size: cover;
}

#teacher2image {
    background-image: url("../images/teachers/holand.jpg");
    height: 70%;
    background-size: cover;
}

#teacher3image {
    background-image: url("../images/teachers/mayahawke.jpg");
    height: 70%;
    background-size: cover;
}

#teacher4image {
    background-image: url("../images/teachers/downey.jpg");
    height: 70%;
    background-size: cover;
}