body {
    margin: 0;
    height: 3000px;
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(90deg, rgba(255,147,0,1) 0%, rgba(9,121,117,1) 50%, rgba(255,0,204,1) 100%);
}


#upper-line {
    background-image: url("../images/purpleforest.jpg");
    background-position-y: 63rem;
    background-position-x: -400rem;
    background-size: 120rem;
    position: fixed;
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
}


#main-body {
    height: 100%;
    z-index: 0;
}

#site-description {
    background-image: url("../images/purpleforest.jpg");
    background-position-y: 59rem;
    background-position-x: -400rem;
    background-size: 120rem;
    padding: 1rem;
    text-align: center;
}

#site-description-text {
    padding: 2rem;
    font-size: 20px;
    mix-blend-mode: hard-light;
    color: rgb(255, 238, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#courses {
    background-color: rgb(30, 127, 151);
    height: 12%;
    white-space: nowrap;
}

#teachers {
    background-color: rgb(27, 158, 44);
    overflow-y: hidden;
    height: 12%;
    white-space: nowrap;
}

.course {
    background-color: rgb(202, 110, 23);
    height: 90%;
    display: inline-block;
    aspect-ratio: 1;
    margin: 20px;
}

.teacher {
    background-color: rgb(223, 219, 16);
    display: inline-block;
    height: 90%;
    aspect-ratio: 1;
    margin: 20px;
}

#course1 {
    
}

#course1image {
    background-image: url("../images/courses/britain.jpg");
    height: 70%;
    background-size: cover;
}

#course2 {
    
}

#course2image {
    background-image: url("../images/courses/germany.jpg");
    height: 70%;
    background-size: cover;
}

#course3 {
    
}

#course3image {
    background-image: url("../images/courses/italy.jpg");
    height: 70%;
    background-size: cover;
}

#course4 {
    
}

#course4image {
    background-image: url("../images/courses/poland.png");
    height: 70%;
    background-size: cover;
}

#teacher1image {
    background-image: url("../images/teachers/depp.jpg");
    height: 70%;
    background-size: cover;
}

#teacher2image {
    background-image: url("../images/teachers/holand.jpg");
    height: 70%;
    background-size: cover;
}

#teacher3image {
    background-image: url("../images/teachers/mayahawke.jpg");
    height: 70%;
    background-size: cover;
}

#teacher4image {
    background-image: url("../images/teachers/downey.jpg");
    height: 70%;
    background-size: cover;
}